body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222 !important;
  color: #F3EFE0 !important; 
 
}

*{
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  padding: 25px !important;
  border-right: 1px solid #171717 !important;
  width: 250px;

  flex: 1;
}

.Links{
  display: flex !important;
  gap: 35px !important;
  flex-direction: column !important;
}

a{
  text-decoration: none !important;
  color: #F3EFE0 !important;
}

.Layout{
  padding: 20px !important;

  flex: 7;
}

.results{
  margin-top: 25px !important;
  display: flex !important;
  gap: 10px !important;
  flex-wrap: wrap !important;
}


.album{
  display: flex !important;
  width: 275px !important;
  flex-direction: column !important;
  cursor: pointer !important;
}